{% extends 'layout.html' %}

{% block title %}
    Updating Car
{% endblock %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Edit Car: </h1>
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Update" class="btn btn-primary">
        <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'cars_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}